## UID-46

In [1]:
import pandas as pd
from test_case_generator_functions import separate_words_in_name_2, separate_words_in_name_3
import numpy as np
import names

In [2]:
uid = 'UID-46' 
theme = 'Name Additions'
category = 'Suffix '
sub_category = '1 Suffix added'
entity_type = 'Individual'

In [3]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10892,39438,"NEJAT, Hossein",individual,IRGC] [IFSR] [IRAN-HR,IRGC Brigadier General,-0-,-0-,-0-,-0-,-0-,-0-,"DOB Mar 1955 to Mar 1956; POB Shiraz, Iran; na..."
10893,39439,"SAJEDINIA, Hossein",individual,IRAN-HR,Deputy Operations Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 21 Mar 1962 to 20 Apr 1962; POB Isfahan, I..."
10894,39440,"RAHIMI, Hossein",individual,IRAN-HR,Police chief of Tehran,-0-,-0-,-0-,-0-,-0-,-0-,DOB Mar 1963 to Mar 1964; POB Markazi Province...
10895,39441,"JAVANI, Yadollah",individual,IRGC] [IFSR] [IRAN-HR,Deputy Political Commander,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 1962; POB Isfahan, Iran; nationality Iran;..."
10896,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                       name entity_type
0         36     AEROCARIBBEAN AIRLINES        -0-
1        173  ANGLO-CARIBBEAN CO., LTD.        -0-
2        306     BANCO NACIONAL DE CUBA        -0-
3        424         BOUTIQUE LA MAISON        -0-
4        475               CASA DE CUBA        -0-
...      ...                        ...         ...
10892  39438             NEJAT, Hossein  individual
10893  39439         SAJEDINIA, Hossein  individual
10894  39440            RAHIMI, Hossein  individual
10895  39441           JAVANI, Yadollah  individual
10896                              NaN         NaN

[10897 rows x 3 columns]

In [5]:
ofac_list['entity_type'].value_counts()

individual    5701
-0-           4394
vessel         515
aircraft       286
Name: entity_type, dtype: int64

In [6]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == 'individual')] # only evaluate Individual
ofac_list_filtered

         uid                                 name entity_type
53      2674                           ABBAS, Abu  individual
54      2675           AL RAHMAN, Shaykh Umar Abd  individual
55      2676               AL ZAWAHIRI, Dr. Ayman  individual
56      2677  AL-ZOMOR, Abboud Abdul Latif Hassan  individual
57      2678                    AWDA, Abd Al Aziz  individual
...      ...                                  ...         ...
10891  39437                       ZAREPOUR, Eisa  individual
10892  39438                       NEJAT, Hossein  individual
10893  39439                   SAJEDINIA, Hossein  individual
10894  39440                      RAHIMI, Hossein  individual
10895  39441                     JAVANI, Yadollah  individual

[5701 rows x 3 columns]

In [7]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                            name entity_type
9639   35622      IVANOV, Maxim Anatolyevich  individual
8913   33941              GHAFARI, Sanaullah  individual
2163   11973                 NTAGANDA, Bosco  individual
3331   16134  SEYYEDI, Seyed Nasser Mohammad  individual
10781  38663    GALIN, Dmitrii Vladimirovich  individual
6901   26548           MOTALLEBIZADEH, Akbar  individual
10084  36780    EMELYANOV, Gennady Egorovich  individual
1008    8886                 SUMARSONO, Aris  individual
6988   26667      TUCHKOV, Ivan Dmitriyevich  individual
1344   10139  RADKOV, Aleksandr Mikhailovich  individual

## CREATE THE TEST CASES

In [8]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [14]:
def rand_Suffix():
	import random
	Suffix = ['CFA','PHD','Jr.','Sr.','Esquire','D.D.S','MASTER','CFP','CFS','ChFC','CIC','CIMA','CMT'] ##define Qualifier
	rand_Suffix = Suffix[random.randrange(1,13)]
# 	rand_Suffix += ' '
	return rand_Suffix

In [15]:
for index, row in ofac_list_sampled.iterrows():
        
    number_of_words = row['name'].count(' ') + 1 # determine for each name the number of words
    
    r = rand_Suffix() 
    final_test_name = row['name'] +  " " +r
    final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe
    

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 9639,35622,"IVANOV, Maxim Anatolyevich","Sr. IVANOV, Maxim Anatolyevich Sr."
1,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 8913,33941,"GHAFARI, Sanaullah","Jr. GHAFARI, Sanaullah Jr."
2,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 2163,11973,"NTAGANDA, Bosco","PHD NTAGANDA, Bosco PHD"
3,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 3331,16134,"SEYYEDI, Seyed Nasser Mohammad","Esquire SEYYEDI, Seyed Nasser Mohammad Esquire"
4,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10781,38663,"GALIN, Dmitrii Vladimirovich","Sr. GALIN, Dmitrii Vladimirovich Sr."
5,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6901,26548,"MOTALLEBIZADEH, Akbar","Jr. MOTALLEBIZADEH, Akbar Jr."
6,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10084,36780,"EMELYANOV, Gennady Egorovich","PHD EMELYANOV, Gennady Egorovich PHD"
7,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1008,8886,"SUMARSONO, Aris","PHD SUMARSONO, Aris PHD"
8,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6988,26667,"TUCHKOV, Ivan Dmitriyevich","Sr. TUCHKOV, Ivan Dmitriyevich Sr."
9,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1344,10139,"RADKOV, Aleksandr Mikhailovich","Esquire RADKOV, Aleksandr Mikhailovich Esquire"
10,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 9639,35622,"IVANOV, Maxim Anatolyevich","Jr. IVANOV, Maxim Anatolyevich"
11,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 8913,33941,"GHAFARI, Sanaullah","Esquire GHAFARI, Sanaullah"
12,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 2163,11973,"NTAGANDA, Bosco","Esquire NTAGANDA, Bosco"
13,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 3331,16134,"SEYYEDI, Seyed Nasser Mohammad","Esquire SEYYEDI, Seyed Nasser Mohammad"
14,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10781,38663,"GALIN, Dmitrii Vladimirovich","Sr. GALIN, Dmitrii Vladimirovich"
15,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6901,26548,"MOTALLEBIZADEH, Akbar","Esquire MOTALLEBIZADEH, Akbar"
16,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10084,36780,"EMELYANOV, Gennady Egorovich","PHD EMELYANOV, Gennady Egorovich"
17,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1008,8886,"SUMARSONO, Aris","PHD SUMARSONO, Aris"
18,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6988,26667,"TUCHKOV, Ivan Dmitriyevich","Esquire TUCHKOV, Ivan Dmitriyevich"
19,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1344,10139,"RADKOV, Aleksandr Mikhailovich","Esquire RADKOV, Aleksandr Mikhailovich"
20,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 9639,35622,"IVANOV, Maxim Anatolyevich","IVANOV, Maxim Anatolyevich Jr."
21,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 8913,33941,"GHAFARI, Sanaullah","GHAFARI, Sanaullah Jr."
22,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 2163,11973,"NTAGANDA, Bosco","NTAGANDA, Bosco PHD"
23,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 3331,16134,"SEYYEDI, Seyed Nasser Mohammad","SEYYEDI, Seyed Nasser Mohammad PHD"
24,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10781,38663,"GALIN, Dmitrii Vladimirovich","GALIN, Dmitrii Vladimirovich PHD"
25,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6901,26548,"MOTALLEBIZADEH, Akbar","MOTALLEBIZADEH, Akbar Esquire"
26,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10084,36780,"EMELYANOV, Gennady Egorovich","EMELYANOV, Gennady Egorovich Esquire"
27,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1008,8886,"SUMARSONO, Aris","SUMARSONO, Aris Esquire"
28,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6988,26667,"TUCHKOV, Ivan Dmitriyevich","TUCHKOV, Ivan Dmitriyevich PHD"
29,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1344,10139,"RADKOV, Aleksandr Mikhailovich","RADKOV, Aleksandr Mikhailovich Jr."
30,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 9639,35622,"IVANOV, Maxim Anatolyevich","IVANOV, Maxim Anatolyevich D.D.S"
31,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 8913,33941,"GHAFARI, Sanaullah","GHAFARI, Sanaullah PHD"
32,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 2163,11973,"NTAGANDA, Bosco","NTAGANDA, Bosco MASTER"
33,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 3331,16134,"SEYYEDI, Seyed Nasser Mohammad","SEYYEDI, Seyed Nasser Mohammad PHD"
34,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10781,38663,"GALIN, Dmitrii Vladimirovich","GALIN, Dmitrii Vladimirovich ChFC"
35,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6901,26548,"MOTALLEBIZADEH, Akbar","MOTALLEBIZADEH, Akbar Sr."
36,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 10084,36780,"EMELYANOV, Gennady Egorovich","EMELYANOV, Gennady Egorovich PHD"
37,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1008,8886,"SUMARSONO, Aris","SUMARSONO, Aris CIC"
38,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 6988,26667,"TUCHKOV, Ivan Dmitriyevich","TUCHKOV, Ivan Dmitriyevich CFS"
39,UID-46,Name Additions,Suffix,1 Suffix added,Individual,UID-46 - 1344,10139,"RADKOV, Aleksandr Mikhailovich","RADKOV, Aleksandr Mikhailovich PHD"