In [21]:
import pandas as pd
import numpy as np

In [22]:
uid = 'UID-3' 
theme = 'Positive Control'
category = 'Exact Match'
sub_category = '100% true match '
entity_type = 'Entity'

In [23]:
ofac_list_download = pd.read_csv('https://www.treasury.gov/ofac/downloads/sdn.csv', header=None)
ofac_list_download

,0,1,2,3,4,5,6,7,8,9,10,11
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,a.k.a. 'BNC'.
3,424,BOUTIQUE LA MAISON,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
4,475,CASA DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,-0-,-0-
...,...,...,...,...,...,...,...,...,...,...,...,...
10564,39257,"ABNOUSH, Salar",individual,IRAN-HR,-0-,-0-,-0-,-0-,-0-,-0-,-0-,"DOB 02 May 1962; POB Hamedan, Iran; nationalit..."
10565,39258,IRAN'S MORALITY POLICE,-0-,IRAN-HR,-0-,-0-,-0-,-0-,-0-,-0-,-0-,Additional Sanctions Information - Subject to ...
10566,39259,"MIRZAEI, Haj Ahmad",individual,IRAN-HR,Colonel,-0-,-0-,-0-,-0-,-0-,-0-,DOB 09 Feb 1957; nationality Iran; Additional ...
10567,39260,"ROSTAMI CHESHMEH GACHI, Mohammad",individual,IRAN-HR,General,-0-,-0-,-0-,-0-,-0-,-0-,DOB 1976 to 1977; nationality Iran; Additional...
10568,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
ofac_list = ofac_list_download[[0,1,2]]
ofac_list.columns = ['uid', 'name', 'entity_type']
ofac_list

         uid                              name entity_type
0         36            AEROCARIBBEAN AIRLINES        -0-
1        173         ANGLO-CARIBBEAN CO., LTD.        -0-
2        306            BANCO NACIONAL DE CUBA        -0-
3        424                BOUTIQUE LA MAISON        -0-
4        475                      CASA DE CUBA        -0-
...      ...                               ...         ...
10564  39257                    ABNOUSH, Salar  individual
10565  39258            IRAN'S MORALITY POLICE        -0-
10566  39259                MIRZAEI, Haj Ahmad  individual
10567  39260  ROSTAMI CHESHMEH GACHI, Mohammad  individual
10568                                     NaN         NaN

[10569 rows x 3 columns]

In [25]:
ofac_list['entity_type'].value_counts()

individual    5402
-0-           4366
vessel         514
aircraft       286
Name: entity_type, dtype: int64

In [38]:
ofac_list_filtered = ofac_list[(ofac_list.entity_type == '-0- ')] # only evaluate Entity
ofac_list_filtered

         uid                                               name entity_type
0         36                             AEROCARIBBEAN AIRLINES        -0-
1        173                          ANGLO-CARIBBEAN CO., LTD.        -0-
2        306                             BANCO NACIONAL DE CUBA        -0-
3        424                                 BOUTIQUE LA MAISON        -0-
4        475                                       CASA DE CUBA        -0-
...      ...                                                ...         ...
10542  39185  JOINT STOCK COMPANY INSTITUTE FOR SCIENTIFIC R...        -0-
10543  39186  RZHANOV INSTITUTE OF SEMICONDUCTOR PHYSICS SIB...        -0-
10544  39187                 JOINT VENTURE QUANTUM TECHNOLOGIES        -0-
10545  39188  INTERNATIONAL CENTER FOR QUANTUM OPTICS AND QU...        -0-
10565  39258                             IRAN'S MORALITY POLICE        -0-

[4366 rows x 3 columns]

In [39]:
ofac_list_sampled = ofac_list_filtered.sample(n = 10)
ofac_list_sampled

         uid                                               name entity_type
7220   27194                              BERATEX GROUP LIMITED        -0-
1631   10789                         COMERCIALIZADORA CGQ LTDA.        -0-
1361   10230                     AUDITORES ESPECIALIZADOS LTDA.        -0-
10418  37931                                      PETROKICK LLC        -0-
6192   25179             JOINT STOCK COMPANY SANATORIUM MISKHOR        -0-
1589   10641                               SEPRIV, S.A. DE C.V.        -0-
3606   16829                                           SMP BANK        -0-
1365   10237  COOPERATIVA DE SERVICIO DE TRANSPORTE DE CARGA...        -0-
2073   11860                             INVERSIONES ADAG LTDA.        -0-
7759   29049    RAMAK DEVELOPMENT AND HUMANITARIAN PROJECTS LLC        -0-

CREATE THE TEST CASES

In [40]:
final_test_cases = pd.DataFrame(columns=['UID', 'Theme','Category','Sub-category','Entity-Type','Test Case ID' , 'OFAC List UID', 'Original Name','Test Case Name'])
final_test_cases

Empty DataFrame
Columns: [UID, Theme, Category, Sub-category, Entity-Type, Test Case ID, OFAC List UID, Original Name, Test Case Name]
Index: []

In [47]:
for index, row in ofac_list_sampled.iterrows():
        
        final_test_name = row['name'] # create the test case
        
        final_test_cases.loc[len(final_test_cases)] = [uid, theme, category, sub_category, entity_type, uid + ' - ' + str(index), row['uid'], row['name'], final_test_name] # append to the dataframe    
    
    

final_test_cases

,UID,Theme,Category,Sub-category,Entity-Type,Test Case ID,OFAC List UID,Original Name,Test Case Name
0,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7220,27194,BERATEX GROUP LIMITED,BERATEX GROU7 (IMITED
1,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1631,10789,COMERCIALIZADORA CGQ LTDA.,COME1CIALIZADO&A CGQ LTDA.
2,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1361,10230,AUDITORES ESPECIALIZADOS LTDA.,A#DITORES ESPE4IALIZADOS LTDA.
3,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 10418,37931,PETROKICK LLC,PETROK2()K LLC
4,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6192,25179,JOINT STOCK COMPANY SANATORIUM MISKHOR,JOINT S%OCK COMPANY SANATORIUM M2SKHOR
5,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1589,10641,"SEPRIV, S.A. DE C.V.","SEPRIV, S.2. DE C.%."
6,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 3606,16829,SMP BANK,S8* BANK
7,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1365,10237,COOPERATIVA DE SERVICIO DE TRANSPORTE DE CARGA...,COOP*RATIVA DE SERVICIO DE TRANSPORTE DE C5RGA...
8,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2073,11860,INVERSIONES ADAG LTDA.,9NVERSIONES #DAG LTDA.
9,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7759,29049,RAMAK DEVELOPMENT AND HUMANITARIAN PROJECTS LLC,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
10,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7220,27194,BERATEX GROUP LIMITED,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
11,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1631,10789,COMERCIALIZADORA CGQ LTDA.,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
12,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1361,10230,AUDITORES ESPECIALIZADOS LTDA.,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
13,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 10418,37931,PETROKICK LLC,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
14,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6192,25179,JOINT STOCK COMPANY SANATORIUM MISKHOR,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
15,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1589,10641,"SEPRIV, S.A. DE C.V.",RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
16,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 3606,16829,SMP BANK,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
17,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1365,10237,COOPERATIVA DE SERVICIO DE TRANSPORTE DE CARGA...,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
18,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2073,11860,INVERSIONES ADAG LTDA.,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
19,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7759,29049,RAMAK DEVELOPMENT AND HUMANITARIAN PROJECTS LLC,RAMAK DEVELOP1ENT AND HUMA&ITARIAN PROJECTS LLC
20,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7220,27194,BERATEX GROUP LIMITED,BERATEX GROUP LIMITED
21,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1631,10789,COMERCIALIZADORA CGQ LTDA.,COMERCIALIZADORA CGQ LTDA.
22,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1361,10230,AUDITORES ESPECIALIZADOS LTDA.,AUDITORES ESPECIALIZADOS LTDA.
23,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 10418,37931,PETROKICK LLC,PETROKICK LLC
24,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 6192,25179,JOINT STOCK COMPANY SANATORIUM MISKHOR,JOINT STOCK COMPANY SANATORIUM MISKHOR
25,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1589,10641,"SEPRIV, S.A. DE C.V.","SEPRIV, S.A. DE C.V."
26,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 3606,16829,SMP BANK,SMP BANK
27,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 1365,10237,COOPERATIVA DE SERVICIO DE TRANSPORTE DE CARGA...,COOPERATIVA DE SERVICIO DE TRANSPORTE DE CARGA...
28,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 2073,11860,INVERSIONES ADAG LTDA.,INVERSIONES ADAG LTDA.
29,UID-3,Positive Control,Exact Match,100% true match,Entity,UID-3 - 7759,29049,RAMAK DEVELOPMENT AND HUMANITARIAN PROJECTS LLC,RAMAK DEVELOPMENT AND HUMANITARIAN PROJECTS LLC